<!-- Link -->

{#
    {% include 'components/link.twig' with
        {
            iconSrc: 'images/email.svg',
            label: 'Interested patients or general inquiries:',
            buttonCopy: 'General Inquiries',
            isPhone: true,
            phoneNumber: '+1-844-782-4278',
            region: 'US and Canada'
        }
    %}
 #}

<article class="link {{ isPhone ? 'phone' }}">
    <img src="{{iconSrc}}" class="icon">
    {% if isPhone %}
        <a href="tel:{{phoneNumber1}}" class="phone-number">
            {{phoneNumber1}}
        </a>
        <div class="region">
            ({{region1}})
        </div>
        <a href="tel:{{phoneNumber2}}" class="phone-number">
            {{phoneNumber2}}
        </a>
        <div class="region">
            ({{region2}})
        </div>
    {% else %}
        <div class="label">
            {{label}}
        </div>
        <a href="mailto:{{email}}" class="button">
            {{buttonCopy}}
        </a>
    {% endif %}
</article>
